.navbar-custom{
	background-color:#0A6079 !important;
}


.navbar-nav > li > a{
	color:#ffffff !important;
}

.navbar-nav > li > a:hover{
	font-size:125% ;
}


.navbar-brand{
	color:#ffffff !important;
}

.navbar-brand:hover{
	font-size:150% ;
}

#angular-view{
	margin-top:50px;
}